# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/
vendor/

# Build
*.zip

# Environment
.env
.env.local
